body{
    width: 50%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.grey{
    color: rgb(201, 196, 196);
}

.site_header{
    height: 150px;
}

.site_main{
    height: 500px;
    margin: 20px 0px 20px 0px;
}

.sidebar{
    width: 30%;
    margin-right: 5%;
    height: 400px;
    float: left;
}

.content{
    width: 30%;
    margin-right: 5%;
    height: 400px;
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.site_footer{
    height: 200px;
    margin-top: 20px;
}

.section_main{
    position: relative;
    height: 700px;
}

.dimension-relative{
    float: left;
    height: 550px;
    width: 20%;
}

.top-bar{
    position:absolute;
    top: 0;
    width: 100%;
}

.colon{
    float: left;
    height: 550px;
    width: 50%;
    margin: 0 5%;
    
}
.center{
    text-align: center;
}

.bottom-box{
    position: absolute;
    top: 100px;
    width: 100%;
}

.left{
    position: absolute;
    right: 0;
}

/*struttura layout*/

header>img{
    width: 200px;
    padding-right: 15px;
    border-right: rgb(201, 196, 196) solid 1px;
}

.header-items>span{
    text-transform: uppercase;
    padding-right: 10px;
    color: rgb(201, 196, 196);
}

.header-items{
    margin-top: 20px;
}

/* struttura header finita*/

.site_main{
    position: relative;
    width: 100%;
    height: 100%;
}

.site_main_text{
    position: absolute;
    top: 250px;
    left: 50px;
    font-size: 16px;
    width: 25%;
    color: white;
    padding-bottom: 30px;
}


.banner-one>img{
    display: block;
    width: 100%;
    object-fit: cover;
    height: 500px;
    opacity: 0.8;
    border-radius: 15px;
}

.subtitle{
    line-height: 0.4;
}
.grid{
    margin: 40px auto;
    float: left;
}
.coloum-sx{
    width: 20%;
    float: left;
}

.coloum-sx>img{
    object-fit: scale-down;
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.coloum-middle{
    width: 50%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.coloum-middle>img{
    width: 100%;
    object-fit: scale-down;
    height: 200px;
    border-radius: 15px;
}
.coloum-dx{
    width: 20%;
    float: left;
}

.coloum-dx>img{
    width: 100%;
    height: 200px;
    object-fit: scale-down;
}

.footer-designer>p{
    text-align: center;
}


