body{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.site_header{
    height: 200px;
    background-color: #E579E6;
}

.site_main{
    height: 500px;
    margin: 20px 0px 20px 0px;
}

.sidebar{
    width: 30%;
    margin-right: 5%;
    height: 400px;
    float: left;
    background-color: red;
}

.content{
    width: 30%;
    margin-right: 5%;
    height: 400px;
    float: left;
    background-color: blue;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.site_footer{
    height: 200px;
    background-color: #8801FE;
    margin-top: 20px;
}

.section_main{
    position: relative;
    height: 900px;
    background-color: #0086FF;
}

.dimension-relative{
    float: left;
    background-color: #ABCFE7;
    height: 710px;
    width: 15%;
}

.top-bar{
    position:absolute;
    top: 0;
    background-color: #ABCFE7;
    height: 150px;
    width: 100%;
}

.colon{
    float: left;
    height: 710px;
    width: 60%;
    background-color: #ABCFE7;
    margin: 0 5%
    
}
.center{
    text-align: center;
}

.bottom-box{
    position: absolute;
    bottom: 20px;
    height: 510;
    width: 100%;
}

.left{
    position: absolute;
    right: 0;
}

/*struttura layout*/

header>img{
    width: 200px;
    padding-right: 15px;
    border-right: rgb(201, 196, 196) solid 1px;
}

.header-items>span{
    text-transform: uppercase;
    padding-right: 10px;
    color: rgb(201, 196, 196);
}

.header-items{
    margin-top: 20px;
}

/* struttura header finita*/

.site_main{
    position: relative;
    background-image: url("./img/banner.jpg");
}

.site_main_text{
    position: absolute;
    top: 250px;
    left: 50px;
    font-size: 16px;
    width: 25%;
}
